Package: Minecraft-Installer
Version: 1.0
Architecture: all
Maintainer: Jonathan Delgado Z <jonad.correo@gmail.com>
Pre-Depends: libnotify-bin, openjdk-7-jdk, wget
Depends:
Priority: optional
Description: Este paquete permite la rapida instalación de Minecraft para linux

